[submodule "extlibs/diff-gaussian-rasterization"]
	path = extlibs/diff-gaussian-rasterization
	url = https://github.com/graphdeco-inria/diff-gaussian-rasterization/
[submodule "extlibs/liteviz-gs"]
	path = extlibs/liteviz-gs
	url = https://github.com/panxkun/liteviz-gs
[submodule "extlibs/tinyply"]
	path = extlibs/tinyply
	url = git@github.com:ddiakopoulos/tinyply.git
[submodule "extlibs/tbb"]
	path = extlibs/tbb
	url = git@github.com:uxlfoundation/oneTBB.git
